extends layout

block content
  div(class="p-4 text-left min-h-48")
    h1(class="font-semibold text-2xl mb-4")= title
    div(class="text-base space-y-3 text-left")
      each post in posts
        div(class="flex justify-between items-center gap-2 hover:underline")
          a(class="font-medium" href=`article/${post.id}`)= post.title
          p= post.publishDateTime
      else
        div(class="h-24 flex justify-center items-center")
          p ...No entries found

    div(class="mt-4 flex justify-center")
      a(class="inline-block py-2 px-4 bg-slate-200 text-center rounded-md hover:bg-slate-300 active:bg-slate-600 active:text-white", href="/") Go to front page





