doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' href='/stylesheets/styles.css')
    title= title
  body
    main(class="w-screen h-screen bg-slate-200 p-2")
      div(class="max-w-xl mx-auto bg-white border-2 border-black rounded-lg p-2 shadow-sm shadow-slate-500")
        block login
          div(class="text-right px-4 pt-2")
            p(class="inline-block").
              You are an admin? 
              Go #[a(class="font-medium hover:underline" href=`/admin`) here]
        block content
